<div class="flex flex-col h-full w-full bg-primary-content">
  <div class="mx-auto max-w-screen-lg h-full flex flex-col relative">
    <button (click)="close()" type="button" class="btn btn-sm btn-circle absolute top-3 right-3">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        close
      </mat-icon>
    </button>
    <div class="mt-10 px-8 text-center md:mt-14">
      <p class="font-bold text-lg md:text-2xl">
        @switch(status()) {
        @case('init') {
        Record your response.
        }
        @case('streaming') {
        Record your response.
        }
        @case('recording') {
        Recording your response...
        }
        @case('processing') {
        Processing your response...
        }
        @case('success') {
        Now send your response...
        }
        }
      </p>
    </div>
    <div class="mx-auto w-3/4 md:w-1/2 relative my-4">
      <video class="w-11/12 mx-auto rounded-lg border-4" [autoplay]="true" [muted]="true" #videoLive
        [class.hidden]="status() === 'success'"></video>
      <video class="w-11/12 mx-auto rounded-lg border-4" [controls]="true" #videoRta
        [class.hidden]="status() !== 'success'"></video>
      <div class="bg-white p-5 pt-10 pb-5 rounded-lg w-full  -mt-4 flex flex-col space-y-1 items-center">
        @if(data.message.audio) {
          <button type="button" class="btn btn-sm btn-circle border-2 " (click)="playAudio(data.message.audio)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">
              play_arrow
            </mat-icon>
          </button>
          }
        <p class=" text-sm text-black text-center">{{ data.message.text }}</p>

      </div>

    </div>
    <div class="flex flex-col space-y-2 justify-center items-center">
      @switch(status()) {
      @case('init') {
      <p class="text-red-700">Record</p>
      <button type="button" class="btn bg-red-700 btn-large btn-circle border-2 border-red-700 text-white"
        (click)="startRecording()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          mic
        </mat-icon>
      </button>
      }
      @case('streaming') {
      <p class="text-red-700">Record</p>
      <button type="button" class="btn bg-red-700 btn-large btn-circle border-2 border-red-700 text-white"
        (click)="startRecording()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          mic
        </mat-icon>
      </button>
      }
      @case('recording') {
      <p class="text-red-700">{{ formatDuration() }}</p>
      <button type="button" class="btn bg-red-700 btn-large btn-circle border-2 border-red-700 text-white"
        (click)="stopRecording()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          stop
        </mat-icon>
      </button>
      }
      @case('processing') {
      <p class="text-red-700">Processing...</p>
      }
      @case('success') {
      <button (click)="sendResponse()" type="button" class="btn btn-large btn-primary">Send response</button>
      }
      }
    </div>
  </div>
</div>
