<div class="mx-auto max-w-screen-lg p-4 md:h-screen md:p-10">
  <div class="mx-auto max-w-screen-lg h-full flex flex-col mt-10">
    <article class="prose">
      <h1>Personalize your interview</h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col space-y-4">
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">What is your name?</span>
          </div>
          <input formControlName="name" type="text" placeholder="Type your name"
            class="input input-bordered w-full max-w-xs"
            [class.input-error]="form.get('name')?.errors && form.get('name')?.touched" />
        </label>
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">What is your role?</span>
          </div>
          <input formControlName="role" type="text" placeholder="Ex: Backend developer, Data scientist, etc."
            class="input input-bordered w-full max-w-xs"
            [class.input-error]="form.get('role')?.errors && form.get('role')?.touched" />
        </label>
        <div class="w-full max-w-xs mt-5">
          <button [disabled]="status() === 'loading'" class="btn btn-primary btn-large" type="submit">Start the
            interview</button>
        </div>
      </form>
    </article>
  </div>
</div>
