<div class="mx-auto max-w-screen-lg p-4 md:h-screen md:p-10">
<div class="max-w-screen-lg h-full flex flex-col space-y-8 md:space-y-0">
  <header class="w-full flex">
    <div class="flex">
      <a routerLink="/" class="flex items-center space-x-4">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          frame_person_mic
        </mat-icon>
        <span class="font-bold">Interview Simulator</span>
      </a>
    </div>
  </header>
  <div class="w-full flex flex-col space-y-4 items-center grow md:flex-row md:space-x-4 md:space-y-0">
    <!--Left Col-->
    <div class="flex flex-col w-full overflow-y-hidden lg:w-3/5 lg:items-start">
      <h1 class="text-4xl mb-10 font-extrabold">
        Build Confidence and Triumph in Your Interview</h1>
      <p class="leading-normal text-base md:text-lg mb-8 text-left slide-in-bottom-subtitle">Utilize your camera and microphone to perfect responses aligned with your job role. Get immediate, actionable AI feedback to enhance your performance.</p>
      <button routerLink="/create" class="btn btn-primary btn-large" type="button">Try now free!</button>
    </div>

    <!--Left Col-->
    <div class="flex lg:w-2/5 justify-center">
      <img class="rounded-lg" width="400" height="400" ngSrc="/assets/images/interview.jpg" alt="interview">
    </div>
  </div>
  </div>
</div>
